.background {
    width: 100%;
    height: 105%;
    display: flex;
    opacity: 25%;
    position: absolute;
    z-index: -1;
}

.logo {
    width: 870px;
    position: relative;
    left: 51%;
    transform: translateX(-50%);
    margin-bottom: 50px;
}

.tatil {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    color: #DEB887;
}

.h11 {
    filter: drop-shadow(2px 2px 2px #333);
    padding-left: 15px;
}
.h12 {
    filter: drop-shadow(2px 2px 2px #333);
    padding-left: 70px;
}

.h13 {
    filter: drop-shadow(2px 2px 2px #333);
    padding-left: 25px;
}

.fotos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foto1 {
    width: 550px;
    height: 350px;
    border-radius: 50px;
    filter: drop-shadow(5px 10px 4px #333);
}
.foto2 {
    width: 550px;
    height: 350px;
    border-radius: 50px;
    filter: drop-shadow(5px 10px 4px #333);
}
.foto3 {
    width: 550px;
    height: 350px;
    border-radius: 50px;
    filter: drop-shadow(5px 10px 4px #333);
}

.navbar{
    position: absolute;
    top: 230px;
    width: 100%;
    z-index: -1;
    background-color: #00BFFF;
}
