body {
  height: 100vh;
  display: grid;
  place-items: center;
  overflow-y: hidden;
  background-color: #111;
}
.timer {
  background-color: #fff;
  padding: 10px;
  font-size: 100px;
  border-radius: 8px;
  color: #111;
}
