@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #efefbb;
  background: linear-gradient(to right, #d4d3dd, #efefbb);
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: #fff;
}

form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 2.5rem 0;
}

input, 
button {
  background-color: #fff;
  font-size: 1.2rem;
  border: none;
  padding: 15px 20px;
}

input {
  font-weight: bold;
}

input:focus {
  outline: none;
}

button{
  cursor: pointer;
  margin-left: -5px ;
}

.poke-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 0.5rem;
  justify-content: center;
}

.poke-box {
  width: 300px;
  background-color: #fff;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}

.poke-box img {
  margin: 10px 0;
  width: 80%;
}

.poke-box h4 {
  font-size: 1.4rem;
  margin: 5px auto;
}

.poke-box p {
  margin: 5px auto;
}