@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}


* {
  box-sizing: border-box;
}

body {
  background-color: #c0d2d9;
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}


.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 350px;
    top: 50%;
    transform: translateY(-50%);
}

.progress-container:before {
    content: '';
    position: absolute;
    background-color: #e0e0e0;
    height: 4px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.progress {
    position: absolute;
    background-color: #3498db;
    height: 4px;
    width: 0%;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    transition: width 0.4s ease-in-out;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f7fb;
    width: 30px;
    height: 30px;
    border: 3px solid #e0e0e0;
    border-radius: 50%;
}

.circle.active {
    border: 3px solid #3498db;
    transition: 0.4s ease-in;
}

.btn {
    cursor: pointer;
    border: none;
    border-radius: 15px;
    background-color: #3498db;
    color: #fff;
}

.btn:active {
    scale: 0.95;
}

.btn:disabled {
    scale: 1;
    cursor: not-allowed;
    background-color: #e0e0e0;
}




