*{
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  width: 90vw;
  display: flex;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 0.2;
  height: 80vh;
  margin: 10px;
  border-radius: 50px;
  color: #fff;
  position: relative;
  cursor: pointer;
  transition: flex 0.8s ease-in;
}

.panel h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0;
  transition: opacity 0.8s ease-in;
}

.panel.active {
  flex: 5px;
}

.panel.active h3 {
  opacity: 1;
}

@media (max-width: 700px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}