*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.container{
    display: flex;
    width: 90vw;
} 

.panel {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    flex: 0.5;
    position: relative;
    border-radius: 70px;
    margin: 10px;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    position: absolute;
    font-size: 3rem;
    color: #fff;
    bottom: 20px;
    left: 30px;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.2s;
}

@media screen and (max-width: 600px) {
    .panel:nth-child(4),
    .panel:nth-child(5){
        display:none;
    }
}